* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 90px 0 90px 0;
    background-color: #F0E5D8;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: outfit;
    src: url(../fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: young-serif;
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

.main {
    width: 45%;
    padding: 42px;
    background-color: #fff;
    border-radius: 20px;
}

.mobile-img {
    display: none;
}

.desc-img {
    width: 100%;
    border-radius: 15px;
}

.head {
    font-family: young-serif;
    font-size: 52px;
    font-weight: 500;
    color: #363533;
    margin: 0;
    margin-top: 27px;
}

.paragraph-1 {
    font-family: outfit;
    font-size: 21px;
    font-weight: 400;
    color: #73706E;
    margin: 0;
    margin-top: 18px;
}

.box {
    width: 100%;
    padding: 20px;
    background-color: #FEF7FC;
    border-radius: 11px;
    margin-top: 29px;
}

h6 {
    font-family: outfit;
    font-size: 22px;
    font-weight: 600;
    color: #662F44;
    margin: 0;
}

.first-list {
    margin-top: 20px;
}

.first-list li {
    font-family: outfit;
    font-size: 21px;
    color: #484240;
    
}

.first-list li::marker {
    color: #662F44;
}

h1 {
    font-family: young-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #76493A;
}

.lists li {
    font-family: outfit;
    font-size: 1.313rem;
    color: #535250;
}

.lists li::marker {
    color: #76493A;
}

table {
    border-spacing: 0;
}

td {
    font-family: outfit;
    font-weight: 500;
    font-size: 0.93rem;
    color: #464542;
    border-bottom: 1px solid #00000031;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 27px;
}

.last-row td {
    border: none;
}




@media screen and (max-width: 768px) {
    body {
        padding: 0;
        display: block;
    }
    .main {
        width: 100%;
        border-radius: 0;
    }
    .desc-img {
        display: none;
    }
    .mobile-img {
        display: block;
        width: 100%;
    }
    .head {
        font-size: 34px;
    }
}